.div-container {
	max-width: 290px;
	margin: 0px auto;
}

.row-botonera {
	margin-right: 0px;
	margin-left: 0px;
}

.row-botonera-fila1 {
	margin-bottom: 10px;
}

.col-boton {
	padding: 0px;	
}

@media (max-width: 768px) {

	.col-primer-boton {
		margin-bottom: 10px;
	}
	
}