/*
	generar.css
	
	AUTOR		Fernando Andrés Prieto
	AUTOR		Diego Martín Schwindt
	COPYRIGHT	Marzo, 2014 - Departamento de Ciencias e Ingeniería de la Computación - UNIVERSIDAD NACIONAL DEL SUR 
*/

body {
	min-width: 720px !Important;
}

.tab-content {
	padding: 10px;
}

.tab-pane {
	margin: 0px auto;
}

.col-titulo-guia {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.col-subtitulo-guia {
	font-size: 15px;
	font-style: italic;
	text-align: center;
}

.div-titulo { 
	font-weight: bold;
	float: left;
	width: 145px;
}

.div-titulo-dato {
	text-align: left; 
	display: inline-block;
}

.barra-division {
	margin-top: 15px;
	margin-bottom: 20px;
	border-top: 2px solid #285E8E;
}

.grupo-item {
	border-top: 1px solid #000000;
	min-height: 40px;
}

.item {
	border-top: 1px solid #DDDDDD; 
	min-height: 40px;
	margin-bottom: 1px;		
}

.item-texto {
	margin-top: 9.5px;
	overflow: hidden;
	word-wrap: break-word;
}

.item-botonera {
	margin-top: 2.5px;
	margin-left: 10px;
	width: 196px;
}

.item-suelto-botonera {
	margin-top: -7px;
}

.item-value {
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
}

.item-value-si {
	color: #47A447;
}

.item-value-no {
	color: #D2322D;
}

.sangria {
	margin-left: 20px;
}

.numero {
	color: #999999;
}

.div-checkbox {
	display: inline-block;
	vertical-align: middle;
}

.item-checkbox {
	width: 23px;
	height: 20px;
	margin-top: 0px;
}

.seccion {
	font-weight: bold;
	font-style: italic;
	margin-top: 15px;
	margin-bottom: 5px;
	text-transform: uppercase;
}