div.lista {
	margin-top: 20px;
	margin-bottom: 20px;
}

body {
	min-width: 600px !Important;
}

span.glyphicon.grande {
    font-size: 1.25em;
}

.verde {
	color: #339933 ;
}

.rojo {
	color: #E60000 ;
}

.amarillo {
	color: #CCCC00 ;
}